<div class="container">
	<div class="wrap__content">
		<div class="row big__spacer__bottom">

			<div class="ui threaded comments">
				<h3 class="ui dividing header">Commentaires</h3>
				<div class="comment">
					<a class="avatar">
						<img src="/images/avatar/small/matt.jpg">
					</a>
					<div class="content">
						<a class="author">Matt</a>
						<div class="metadata">
							<span class="date">Today at 5:42PM</span>
						</div>
						<div class="text">
							How artistic!
						</div>
						<div class="actions">
							<a class="reply">Reply</a>
						</div>
					</div>
				</div>
				<div class="comment">
					<a class="avatar">
						<img src="/images/avatar/small/elliot.jpg">
					</a>
					<div class="content">
						<a class="author">Elliot Fu</a>
						<div class="metadata">
							<span class="date">Yesterday at 12:30AM</span>
						</div>
						<div class="text">
							<p>This has been very useful for my research. Thanks as well!</p>
						</div>
						<div class="actions">
							<a class="reply">Reply</a>
						</div>
					</div>
					<div class="comments">
						<div class="comment">
							<a class="avatar">
								<img src="/images/avatar/small/jenny.jpg">
							</a>
							<div class="content">
								<a class="author">Jenny Hess</a>
								<div class="metadata">
									<span class="date">Just now</span>
								</div>
								<div class="text">
									Elliot you are always so right :)
								</div>
								<div class="actions">
									<a class="reply">Reply</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment">
					<a class="avatar">
						<img src="/images/avatar/small/joe.jpg">
					</a>
					<div class="content">
						<a class="author">Joe Henderson</a>
						<div class="metadata">
							<span class="date">5 days ago</span>
						</div>
						<div class="text">
							Dude, this is awesome. Thanks so much
						</div>
						<div class="actions">
							<a class="reply">Reply</a>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="ui section divider"></div>

		<div class="row">
				<form class="ui reply form">
					<div class="row">
						<div class="col-md-3">
							<div class="ui corner labeled input spacer__bottom">
								<input placeholder="Votre nom" type="text">
								<div class="ui corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row spacer__bottom">
						<div class="col-md-4">
							<div class="ui fluid icon input labeled">
								<input placeholder="Adresse email" type="text">
								<div class="ui corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="row spacer__bottom">
						<div class="col-md-4">
							<div class="ui fluid labeled input">
								<div class="ui label">
									http://
								</div>
								<input placeholder="Votre site si vous en possédez" type="text">
							</div>

						</div>
					</div>
					<div class="row spacer__bottom">
						<div class="col-md-6">
							<div class="field">
								<textarea></textarea>
							</div>
						</div>
					</div>
					<div class="ui blue labeled submit icon button">
						<i class="icon edit"></i> Commenter
					</div>
				</form>
			
		</div>
		

	</div>

</div>