<!-- <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text">© "FootballAmericain.com" | Association UsFoot NetworK - 1998-2017 | Mentions Légales </p>
	</div> 

</div> -->

<div class="container">
	<footer id="footer">
		<div class="footer_top">
			<div class="row">
				<div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-2">
					<div class="footer_widget wow fadeInDown">
						<h2>La Nfl</h2>
						<ul class="tag_nav">
							<li><a href="#">La ligue pro</a></li>
							<li><a href="#">Calendrier</a></li>
							<li><a href="#">Classements</a></li>
							<li><a href="#">Super Bowl</a></li>
							<li><a href="#">Playoffs</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<div class="footer_widget wow fadeInDown">
						<h2>La Fffa</h2>
						<ul class="tag_nav">
							<li><a href="#">L'actu France</a></li>
							<li><a href="#">L'équipe de France</a></li>
							<li><a href="#">Le flag</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<div class="footer_widget wow fadeInDown">
						<h2>Le football</h2>
						<ul class="tag_nav">
							<li><a href="#">Règles</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<div class="footer_widget wow fadeInDown">
						<h2>L'association</h2>
						<ul class="tag_nav">
							<li><a href="#">L'association</a></li>
							<li><a href="#">Qui sommes nous ?</a></li>
							<li><a href="#">Nous contacter</a></li>
							<li><a href="#">Demande de partenariat / publicité</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<div class="footer_widget wow fadeInDown">
						<h2>Partenaires</h2>
						<ul class="tag_nav">
							<li><a href="#">4th and Goal Magazine</a></li>
							<li><a href="#">Elite FooT</a></li>
							<li><a href="#">RadiOSSA</a></li>
							<li><a href="#">RadioDTC : Pronos NFL tous les jeudis à 22h</a></li>
							<li><a href="#">Touchdown Actu</a></li>
							<li><a href="#">NFL Book</a></li>
							<li><a href="#">Basket-Ball World</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<p>© "FootballAmericain.com" | Association UsFoot NetworK - 1998-2017 | Mentions Légales </p>
		</div>
	</footer>
</div>