<div class="template-football">
	<div class="site-wrapper clearfix">
		<div class="site-overlay"></div>
		<div class="site-content">
			<div class="container">

				<!-- Schedule & Tickets -->
				<div class="card card--has-table">
					<div class="card__header card__header--has-btn">
						<h4>Les 32 franchises NFL</h4>
					</div>
					<div class="card__content">
						<div class="table-responsive">
							<table class="table table-hover team-schedule">
								<!-- <thead>
									<tr>
										<th class="team-schedule__date">Date</th>
										<th class="team-schedule__versus">Versus</th>
										<th class="team-schedule__time">Time</th>
										<th class="team-schedule__venue">Venue</th>
										<th class="team-schedule__tickets">Tickets</th>
									</tr>
								</thead> -->
								<tbody>
									<tr *ngFor="let item of teams">
										<td class="team-schedule__time">Image</td>
										<td class="team-schedule__venue">{{item.franchise2}} {{item.franchise}}</td>
										<td class="team-schedule__tickets"><a (click)="goTeamView(item)" class="btn btn-xs btn-default-alt btn-block">Détails</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- Schedule & Tickets / End -->
			</div>
		</div>
	</div>
</div>