<div class="container">
	<div id="newsSection">
		<div class="row">
			<div class="col-md-12">
				<div class="ui items">
					<div class="item">
						<div class="ui small image">
							<img src="./../../../assets/images-content/post_img1.jpg">
						</div>
						<div class="middle aligned content">
							<div class="header">
								Chronique #2 - Nos français d’Amérique
							</div>
							<div class="description">
								<p>Vous l’aurez compris, écrire toute les semaines autour des performances de la trentaine de français (!!!) jouant en Amérique du Nord n’est pas chose aisée, c’est pourquoi j’ai décidé de scinder mes chroniques en deux parties : l’américaine et la canadienne.Petit raté de ma part pour le démarrage de la saison universitaire canadienne pour nos joueurs engagés dans les conférences RSEQ (localisée au Québec), AUS (située sur la côte Atlantique) et OUA (en Ontario).Ils s ... </p>
							</div>
							<div class="extra">

								<div class="ui mini right floated button">
									Lire la suite
								</div>
								<div class="ui mini right floated button" (click)="callComments()">
									<span style="padding-right:10px;">Commentaires</span><i class="comment icon"></i>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="ui section divider"></div>

				<div class="ui items">
					<div class="item">
						<div class="ui small image">
							<img src="./../../../assets/images-content/post_img1.jpg">
						</div>
						<div class="middle aligned content">
							<div class="header">
								Chronique #2 - Nos français d’Amérique
							</div>
							<div class="description">
								<p>Vous l’aurez compris, écrire toute les semaines autour des performances de la trentaine de français (!!!) jouant en Amérique du Nord n’est pas chose aisée, c’est pourquoi j’ai décidé de scinder mes chroniques en deux parties : l’américaine et la canadienne.Petit raté de ma part pour le démarrage de la saison universitaire canadienne pour nos joueurs engagés dans les conférences RSEQ (localisée au Québec), AUS (située sur la côte Atlantique) et OUA (en Ontario).Ils s ... </p>
							</div>
							<div class="extra">

								<div class="ui mini right floated button">
									Lire la suite
								</div>
								<div class="ui mini right floated button">
									<span style="padding-right:10px;">Commentaires</span><i class="comment icon"></i>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>




		<!-- <div class="ui items">
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>

			</div>

			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
		</div> -->
	</div>
</div>
