<div class="container">
	<div id="newsSection">
		<div class="ui items">
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>

			</div>

			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
			<div class="item">
				<div class="image">
					<img src="./../../../assets/images-content/post_img1.jpg">
				</div>
				<div class="content">
					<a class="header">Header</a>
					<div class="meta">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet, elit sit amet venenatis luctus, arcu dolor vulputate tellus, in pharetra metus tellus at augue. Donec eu egestas risus. Maecenas lacinia, ex non dapibus eleifend, purus ex placerat nunc, vel pretium turpis erat sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur condimentum euismod metus iaculis venenatis. Morbi id odio eget dui ultrices rhoncus. Phasellus consequat lacus lacus, in sollicitudin ipsum cursus quis. Integer eget sapien mollis est viverra dictum. Pellentesque vestibulum, lectus quis varius imperdiet, ex enim tristique nisl, vitae consectetur nibh dolor ac nulla. Vestibulum posuere enim quis mauris venenatis fringilla. </span>
					</div>
					<div class="description">
						<p></p>
					</div>
					<div class="extra">
						Additional Details
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
