<div class="container">
	<div class="wrap__content">
		<div class="row spacer__bottom">
			<h1 class="text-center">Calendrier et Résultats FRANCE Casque d'Or 2016, Journée 10</h1>
		</div>
		<div class="row spacer__bottom">
			<div class="col-md-2">
				<select class="ui dropdown">
					<option >Journée 1</option>
					<option >Journée 2</option>
					<option >Journée 3</option>
				</select>
			</div>
			<div>
				<p style="font-style:italic; color:grey; line-height:2;">Nota : toutes les dates sont CET (Paris)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="boxscorepoz">
					<div class="inside">
						<div class="date">samedi 04/03, 19:00</div>

						<div>
							<ul class="home">
								<li>
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/FLA-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">La courneuve</a>
								</li>
								<li class="franchise">
									<a href="#">Flash</a>
								</li>
							</ul>
							<ul class="away">
								<li class="logo">
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/NIC-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">Nice</a>
								</li>
								<li class="franchise">
									<a href="#">Dauphins</a>
								</li>
							</ul>
							<p style="text-align:center;">
								<a href="#">[Plus d'info]</a>
							</p>
						</div>
						<div class="score">
							<div class="ui statistic">
								<div class="value">12 - 13</div>
							</div>
						</div>
						<div>
							<table class="ui small unstackable sortable celled table my__center">
								<thead>
									<tr>
										<th></th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>OT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="team">tho</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="team">gla</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
				<div class="boxscorepoz">
					<div class="inside">
						<div class="date">samedi 04/03, 19:00</div>

						<div>
							<ul class="home">
								<li>
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/ARG-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">Thono-les-Bains</a>
								</li>
								<li class="franchise">
									<a href="#">Flash</a>
								</li>
							</ul>
							<ul class="away">
								<li class="logo">
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/NIC-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">Queue-en-Brie</a>
								</li>
								<li class="franchise">
									<a href="#">Dauphins</a>
								</li>
							</ul>
							<p style="text-align:center;">
								<a href="#">[Plus d'info]</a>
							</p>
						</div>
						<div class="score">
							<div class="ui statistic">
								<div class="value">12 - 13</div>
							</div>
						</div>
						<div>
							<table class="ui small unstackable sortable celled table my__center">
								<thead>
									<tr>
										<th></th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>OT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="team">tho</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="team">gla</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>			
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="boxscorepoz">
					<div class="inside">
						<div class="date">samedi 04/03, 19:00</div>

						<div>
							<ul class="home">
								<li>
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/FLA-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">La courneuve</a>
								</li>
								<li class="franchise">
									<a href="#">Flash</a>
								</li>
							</ul>
							<ul class="away">
								<li class="logo">
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/FALC-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">Nice</a>
								</li>
								<li class="franchise">
									<a href="#">Dauphins</a>
								</li>
							</ul>
							<p style="text-align:center;">
								<a href="#">[Plus d'info]</a>
							</p>
						</div>
						<div class="score">
							<div class="ui statistic">
								<div class="value">12 - 13</div>
							</div>
						</div>
						<div>
							<table class="ui small unstackable sortable celled table">
								<thead>
									<tr>
										<th></th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>OT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="team">tho</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="team">gla</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
				<div class="boxscorepoz">
					<div class="inside">
						<div class="date">samedi 04/03, 19:00</div>

						<div>
							<ul class="home">
								<li>
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/FLA-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">La courneuve</a>
								</li>
								<li class="franchise">
									<a href="#">Flash</a>
								</li>
							</ul>
							<ul class="away">
								<li class="logo">
									<a href="#">
										<img src="http://footballamericain.com/images/images/team/50/NIC-logo.jpg">
									</a>
								</li>
								<li class="city">
									<a href="#">Nice</a>
								</li>
								<li class="franchise">
									<a href="#">Dauphins</a>
								</li>
							</ul>
							<p style="text-align:center;">
								<a href="#">[Plus d'info]</a>
							</p>
						</div>
						<div class="score">
							<div class="ui statistic">
								<div class="value">12 - 13</div>
							</div>
						</div>
						<div>
							<table class="ui small unstackable sortable celled table my__center">
								<thead>
									<tr>
										<th></th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>OT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="team">tho</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="team">gla</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>			
			</div>

			<div class="col-md-4 col-sm-12">
				<div class="single_sidebar wow fadeInDown">
					<h2><span>Dernieres News</span></h2>
					<ul>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>