<div class="container">
	<div class="wrap__content">
		<div class="row spacer__bottom">
			<h1 class="text-center">Classement FRANCE Elite 2017</h1>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h3>Poule Nord</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Clmnt</td>
							<td>Equipe</td>
							<td>G</td>
							<td>N</td>
							<td>P</td>
							<td>Pct</td>
							<td>PP</td>
							<td>PC</td>
							<td>Diff</td>
							<td>Domicile</td>
							<td>Extérieur</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Flash</td>
							<td>8</td>
							<td>0</td>
							<td>1</td>
							<td>88,9%</td>
							<td>265</td>
							<td>125</td>
							<td>140</td>
							<td>4-0</td>
							<td>4-1</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Flash</td>
							<td>8</td>
							<td>0</td>
							<td>1</td>
							<td>88,9%</td>
							<td>265</td>
							<td>125</td>
							<td>140</td>
							<td>4-0</td>
							<td>4-1</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Flash</td>
							<td>8</td>
							<td>0</td>
							<td>1</td>
							<td>88,9%</td>
							<td>265</td>
							<td>125</td>
							<td>140</td>
							<td>4-0</td>
							<td>4-1</td>
						</tr>
					</tbody>
				</table>
				<h3>Poule Sud</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Clmnt</td>
							<td>Equipe</td>
							<td>G</td>
							<td>N</td>
							<td>P</td>
							<td>Pct</td>
							<td>PP</td>
							<td>PC</td>
							<td>Diff</td>
							<td>Domicile</td>
							<td>Extérieur</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Flash</td>
							<td>8</td>
							<td>0</td>
							<td>1</td>
							<td>88,9%</td>
							<td>265</td>
							<td>125</td>
							<td>140</td>
							<td>4-0</td>
							<td>4-1</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Flash</td>
							<td>8</td>
							<td>0</td>
							<td>1</td>
							<td>88,9%</td>
							<td>265</td>
							<td>125</td>
							<td>140</td>
							<td>4-0</td>
							<td>4-1</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Flash</td>
							<td>8</td>
							<td>0</td>
							<td>1</td>
							<td>88,9%</td>
							<td>265</td>
							<td>125</td>
							<td>140</td>
							<td>4-0</td>
							<td>4-1</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="single_sidebar wow fadeInDown">
					<h2><span>Dernieres News</span></h2>
					<ul>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
						<li><a href="#">20/11 9h50 — Flag : retour sur la Journée 3 de la Coupe de France 2017 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>