<div class="container">
	
	<section id="sliderSection">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="slick_slider">
          <div class="single_iteam"> <a href="pages/single_page.html"> <img src="./../../../assets/images-content/slider_img4.jpg" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
              <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui...</p>
            </div>
          </div>
          <div class="single_iteam"> <a href="#"> <img src="./../../../assets/images-content/slider_img2.jpg" alt=""></a>
          </div>
          <div class="single_iteam"> <a href="#"> <img src="./../../../assets/images-content/slider_img3.jpg" alt=""></a>
          </div>
          <div class="single_iteam"> <a href="#"> <img src="./../../../assets/images-content/slider_img1.jpg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">

        <div class="single_sidebar">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#americanConference" aria-controls="home" role="tab" data-toggle="tab">American Football Conference</a></li>
            <li role="presentation"><a href="#nationalConference" aria-controls="profile" role="tab" data-toggle="tab">National Footbal Conference</a></li>
            <!-- <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li> -->
          </ul>
          <div class="tab-content">
            <!-- FIRST TAB CONTENT -->
            <div role="tabpanel" class="tab-pane active" id="americanConference">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-sm-offset-1">
                  <table class="ui small unstackable sortable celled table black">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Nord</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-2 ">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Sud</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" style="margin-top:10px;">
                <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Est</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                <div class="col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Ouest</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <!-- END FIRST TAB CONTENT -->
            
            <!-- SECOND TAB CONTENT -->
            <div role="tabpanel" class="tab-pane" id="nationalConference">
              <div class="row">
                <div class="col-md-2 col-sm-offset-1 col-sm-2">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Nord</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>5</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>5</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>5</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>7</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Sud</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>4</td>
                        <td>0</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>8</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" style="margin-top:10px;">
                <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Est</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                <div class="col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th colspan="4">AFC Ouest</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Patriots</td>
                        <td>10</td>
                        <td>0</td>
                        <td>2</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END SECOND TAB CONTENT -->

          </div>
        </div> 
      </div>
    </div>
  </section>

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Dernières News</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="#" class="featured_img"> <img alt="" src="./../../../assets/images-content/featured_img1.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="pages/single_page.html">Proin rhoncus consequat nisl eu ornare mauris</a> </figcaption>
                    <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="./../../../assets/images-content/post_img1.jpg"> </a>
                    <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="./../../../assets/images-content/post_img2.jpg"> </a>
                    <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="./../../../assets/images-content/post_img1.jpg"> </a>
                    <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="./../../../assets/images-content/post_img2.jpg"> </a>
                    <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>